.cart-card{
  height:12rem;
  width: 40rem;
}

.cart-products-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.cart-img{
  width: 8rem;
  height: 12rem;
}

.sm-btn{
  padding: 2px 6px;
}
