.auth-page-container{
  height: 100vh;
}

.auth-page-form{
  height: 20rem;
  padding: 1rem;
}

.auth-btn-container{
  margin:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-page-head{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
