@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,700;1,800;1,900&family=Sacramento&display=swap');
@import 'color.css';
@import 'css/styles.css';
:root {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--background);
  font-weight: 200;
}

.card-icon:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme-heading {
  font-family: 'Sacramento', cursive;
}

.center-top{
  justify-content: center;
  align-items: flex-start;
}

.landing-footer-section {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#side-menu {
  position: absolute;
  z-index: 7;
  max-width: 20rem;
  height: 30rem;
  border: 2px solid var(--primary-light);
  box-shadow: 1px 1px 4px 4px var(--primary-light);
  color: var(--primary);
  background-color: var(--primary-light);
}

#side-menu:li) {
  color: var(--primary);
}

#side-menu-filter {
  float: right;
  position: absolute;
  right:0;
  z-index: 7;
  max-width: 15rem;
  height: 100vh;
  border: 2px solid var(--primary-light);
  box-shadow: 1px 1px 4px 4px var(--primary-light);
  color: var(--primary);
  background-color: var(--primary-light);
}

#side-menu:li) {
  color: var(--primary);
}

.hide {
  display: none;
}

.center-txt {
  text-align: center;
}

#login-bg {
  height: 100vh;
  background: -webkit-linear-gradient(left, var(--primary); , var(--secondary));
}

.center {
  align-self: center;
}

.product-img-full{
  width: 100%;
  height: 25rem;
}

.product-img-s{
  width: 15rem;
  height: 20rem;
}

.sale-tag{
  padding: 0.5rem;
  background-color: var(--sale-tag);
}

.original-price{
  text-decoration: line-through;
}
.sale-price{
  color:var(--sale-price);
  font-size: 1.5rem;
  font-weight: light;
}

.product-container{
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-head-menu-section{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.product-four-container{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
  gap:0.2rem;
}

#wishlist-alert{
  position: absolute;
  top: 5vh;
  left: 35vw;
  z-index:10;
}

.out-of-stock{
  opacity:0.4;
}

.out-of-stock-head{
  position:relative;
  z-index: 3;
}

#landing-img{
  height: 800px;
}
