html{
  --primary: #65012E;
  --secondary:  #30343F;
  --background:  #F1EAE4;
  --primary-light: #E8C9C9;
  --secondary-light: #D6D6D6;
  --sale-tag: #ffe733;
  --sale-price: #fc0000;
}

.primary-col{
  color: var(--primary);
}

.secondary-col{
  color: var(--secondary);
}

.background-col{
  background-color: var(--background);
}

.primary-bg{
  background-color: var(--primary);
}

.secondary-bg{
  background-color: var(--secondary);
}

.sale-tag-bg{
  background-color: var(--sale-tag);
}

.primary-light-col{
  color: var(--primary-light);
}

.secondary-light-col{
  color: var(--secondary-light);
}

.primary-light-bg{
  background-color: var(--primary-light);
}

.secondary-light-bg{
  background-color: var(--secondary-light);
}

.primary{
  color: var(--primary-light);
  background-color: var(--primary);
}
