
.alert{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  background-color:  var(--palesilver-li);
  width:30rem;
  border-radius: 0.5rem;
  color: var(--prim-col);
  box-shadow: 1px 1px 3px 1px lightgrey;
  box-sizing: border-box;
  font-size: 1.2rem;

}
.alert-close{
  margin-left: auto;
}
.alert-close:hover{
  cursor:pointer;
  font-weight: bolder;
  opacity: 0.5;
}

.alert-bordered{
  border: solid 3px ;
  background-color: transparent;
}

.alert-danger{
  color: var(--red);
  background-color: var(--red-light);
}

.alert-warning{
  color: var(--yellow);
  background-color: var(--yellow-light);
}

.alert-success{
  color: var(--green);
  background-color: var(--green-light);
}

.alert-info{
  color: var(--blue);
  background-color: var(--blue-light);
}
