.btn{
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  border: 2px solid ;
  height: fit-content;
}

.btn-dis{
  background-color: var(--grey-li);
  opacity: 0.5;
}

.btn-dis:hover{
  cursor: not-allowed;
  opacity: 0.3;
}


.btn-bordered{
  background-color: transparent;
  box-sizing: border-box;
}

.btn-bordered:hover{
  transition: background-color .35s ease-in-out;
}

.btn.btn-bordered.prim-c:hover{
  background-color: var(--sec-col);
}

.btn.btn-bordered.sec-c:hover{
  background-color: var(--prim-col);
}

.btn-float{
  border-radius: 50%;
  border: 2px solid ;
}
