.grid-layout-container{
  display: grid;
  grid-template-areas: "head head"
  "side main"
  "side main"
  "foot foot";
  grid-template-columns: 20rem minmax(50rem,1fr);
  grid-template-rows: 4rem 1fr 1fr 7rem;
  min-height:100vh;
  max-width: 100vw;
}

.grid-layout-side{
  grid-area: side;
}

.grid-layout-header{
   grid-area: head;
}

.grid-layout-footer{
   grid-area: foot;
}


.grid-layout-main{
   grid-area: main;
}

.grid-two-layout-container{
  display: grid;
  grid-template-areas: "sec-left sec-right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height:100%;
  grid-gap: 0.5rem 0.5rem;
  width:100%;
}

.grid-two-layout-right{
  grid-area: sec-right;
}

.grid-two-layout-left{
  grid-area: sec-left;
}

.grid-three-layout-container{
  display: grid;
  grid-template-areas: "third-left third-center third-right";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height:100%;
  width:100%;
  grid-gap: 0.5rem 0.5rem;
}

.grid-three-layout-right{
  grid-area: third-right;
}

.grid-three-layout-left{
  grid-area: third-left;
}

.grid-three-layout-center{
  grid-area: third-center;
}
