.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    border: none;
    gap:0.5rem;
    /* box-shadow: 0px 0px 1px 1px; */
}

.side-nav{
  position: fixed;
}

.side-nav>.list>li:hover{
  background-color: var(--prim-x-light);
  box-shadow: 1px 1px 10px 2px var(--prim-x-light);
}

nav>.list>li:hover{
  box-shadow: 1px 1px 10px 2px var(--palesilver-li);
  background-color: var(--palesilver-li);
  cursor: pointer;
  font-weight: bolder;
}
