
.rating-container {
  float: left;
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 28px;
  margin-top: -11px;
  color: #c60000;
  margin-left: 10px;
  margin-right: 10px;
}
.rating-container > span {
  display: inline-block;
  position: relative;
  width: 0.7em;
  cursor: pointer;
}
.rating-container  > span:hover:before,
.rating-container  > span:hover ~ span:before,
.rating-container  > span.checked:before,
.rating-container  > span.checked ~ span:before {
  content: "\2605";
  position: absolute;
}
