.landing-card-img{
  height: 15rem;
  width: 12rem;
  padding:0.5rem;
}

.landing-card{
  border: 1px solid var(--primary);
}

.landing-card:hover{
  transition: all 0.4s ease-out;
  background-color: var(--primary);
  color: var(--primary-light);
  cursor:pointer;
}

.heroSection{
  border: solid 1px var(--primary);
  border-radius: 1rem;
  color: var(--primary);
  padding: 1rem;
}

.heroPara{
  padding: 0.5rem 2rem;
}
